[2017-07-20 12:01] mjuenema opened #1 "Makecode: link to resource instead of sub-classing"
aws_instance = instance = resource

What's class.name?

[2017-07-20 12:05] mjuenema commented on #1
That doesn't work. Have to subclass always

[2017-07-20 21:24] mjuenema opened #2 "exithook"
PRINT = True

exithook()
   print json(_CONFIG)

rename CONFIG to _CONFIG

[2017-07-21 04:11] #2 closed

[2017-07-21 04:13] mjuenema opened #3 "Work-around for data/JSON bug"
This relates to https://github.com/hashicorp/terraform/issues/13911.

The work-around suggested in the issue does not work. The underlying problem seems to be that at least with data sources the data source must have more than one argument.

**Fails**
[code]
**Works**
[code]

The work-around is to ensure that the data source always has a type (defaulting to string) and
an (empty) description.

[2017-07-21 05:53] mjuenema opened #4 "Structures to implement"
* provider (https://www.terraform.io/docs/configuration/providers.html)
* provisioner (https://www.terraform.io/docs/provisioners/index.html)
* connection (https://www.terraform.io/docs/provisioners/connection.html)
* output (https://www.terraform.io/docs/configuration/outputs.html)
* terraform (https://www.terraform.io/docs/configuration/terraform.html)

[2017-07-21 05:55] mjuenema opened #5 "Subclass resource, data, etc. classes from dict"
Investigate!!!

[2017-07-21 06:05] mjuenema opened #6 "Simplify tests"
Replace the `_Base` class and all the string, dict, etc. stuff. Instead code tests into each `Test*` class.

[2017-07-21 06:05] mjuenema opened #7 "Update doco to JSON examples"
Also create some examples.

[2017-07-21 11:25] #5 closed

[2017-07-22 23:01] mjuenema opened #8 "Make CONFIG a subclass of dict"
[code]

[2017-07-24 01:11] #8 closed

[2017-07-24 01:12] mjuenema opened #9 "Make __getattr__ in top-level output"

[2017-07-24 01:46] #9 closed

[2017-07-24 02:18] #4 closed

[2017-07-24 02:19] mjuenema opened #10 "Implement provider and provisioner as dict"
* provider(dict)
* provisioner (dict)
* backend(dict)

[2017-07-24 02:25] mjuenema commented on #6
Tests are working ok so I am going to leave them as is.

[2017-07-24 02:25] #6 closed

[2017-07-24 03:32] #10 closed

[2017-07-24 06:29] mjuenema opened #11 "Interpolation functions"
Example:

[code]

[2017-07-24 06:29] mjuenema opened #12 "There is currently a bug that does not interpolate "${file(userdata.sh)}" correctly!!!"

[2017-07-24 22:08] #12 closed

[2017-07-24 22:08] #11 closed

[2017-07-24 22:08] #7 closed

[2017-07-25 01:33] mjuenema opened #13 "Add more providers"
* google
* azurerm
* terraform
* template

[2017-07-25 06:18] #13 closed

[2017-07-25 06:21] mjuenema opened #14 "Add test for resource() and data()"

[2017-07-25 06:21] mjuenema opened #15 "Create test for .interpolated property"

[2017-07-25 06:23] mjuenema opened #16 "Fix Travis-CI failure"
https://www.travis-ci.org/mjuenema/python-terrascript/builds/257179202

[2017-07-25 07:15] mjuenema opened #17 "More providers"
* openstack (https://github.com/terraform-providers/terraform-provider-openstack)
* kubernetes (https://github.com/terraform-providers/terraform-provider-kubernetes)
* docker (https://github.com/terraform-providers/terraform-provider-docker)

[2017-07-25 07:16] mjuenema commented on #14
Also create documentation.

[2017-07-25 07:19] mjuenema opened #18 "Travis-CI: Add Python 3.6 and PyPy3"

[2017-07-25 07:23] mjuenema commented on #18
https://docs.travis-ci.com/user/languages/python/
3.2???

[2017-07-25 22:17] #18 closed

[2017-07-25 22:17] #16 closed

[2017-07-26 01:16] #17 closed

[2017-07-26 01:44] #15 closed

[2017-07-26 01:45] mjuenema opened #19 "Add badges to README"

[2017-07-26 01:55] #19 closed

[2017-07-27 04:32] mjuenema opened #20 "Remove note about bug in https://github.com/mjuenema/python-terrascript/blob/master/doc/examples/aws_eip.md"

[2017-08-01 23:46] mjuenema opened #21 "test_requirements.txt no such file"
Downloading terrascript-0.2.0.tar.gz                                                                               │
    Complete output from command python setup.py egg_info:                                                           │
    Traceback (most recent call last):                                                                               │
      File "<string>", line 1, in <module>

[2017-08-02 01:02] #21 closed

[2017-08-02 01:02] mjuenema opened #22 "Allow multiple providers of same type"
See Multiple Providers in https://www.terraform.io/docs/configuration/providers.html

[2017-11-17 03:14] #20 closed

[2017-11-17 03:16] mjuenema opened #23 "More examples"

[2017-11-18 21:27] mjuenema opened #24 "makecode.py problems"
consul
[code]
do
[code]

[2017-11-18 21:27] mjuenema opened #25 "Add providers to Git repository"

[2017-11-20 22:09] #24 closed

[2017-11-20 22:09] #25 closed

[2017-11-22 21:16] mjuenema commented on #23
Nitish Kumar Yadav on LinkedIn
Hi Markus,
Needed one help, I have a terraform and need to convert that to terrascript, but facing problems as the resources are having nested variables

[code]

[code]

[2018-02-16 01:35] robinbowes opened #26 "Problem when using resource in a loop"
Hi,

I'm using terrascript to dump existing datadog monitors into terraform code.

Here's some sample code:

[code]

What I see is that the `datadog_monitor` resource doesn't clean up between invocations so I end up with this sort of output:

[code]

Am I doing something wrong here?

[2018-02-17 02:39] mjuenema commented on #26
`terrascript.dump()` is meant to be called once, i.e. at the end of your program. I accept that this may not be clearly explained in my documentation/examples. Try to change your code accordingly and let me know how you go.

[2018-02-18 08:25] robinbowes commented on #26
That seems to work, however I was hoping to write each resource into a separate file, ie. I would want to dump the output once for each resource.

I guess I can dump it once and loop over the resulting json, but it seems less than ideal.

[2018-02-18 19:14] mjuenema commented on #26
Ok, I see what you are trying to achieve. That would require some kind of `terrascript.reset()` function which doesn't currently exists. Then one could do (in pseudo-code):
[code]
Is that what you are trying to achieve?

[2018-02-18 23:57] robinbowes commented on #26
Yes, exactly that.

Or maybe something like this:

[code]

[2018-03-17 04:34] mjuenema opened #28 "Create matrix in .travis.yml to test against different releases of Terraform"

[2018-03-17 12:29] mjuenema opened #29 "Currently only a single provisioner per resource is possible."

[2018-03-18 03:38] #22 closed

[2018-03-18 03:41] #28 closed

[2018-03-18 03:41] mjuenema opened #30 "Update examples linked to in README.md"

[2018-03-18 03:43] mjuenema commented on #26
This is now possible. Have a look at `tests/test_issues.py` for details.

[2018-03-18 03:43] #26 closed

[2018-03-28 18:55] jbscare commented on #3
Hi! I found
https://github.com/mjuenema/python-terrascript/blob/0ee7ef4f1f16683f2c4443f3c78538b595819406/terrascript/__init__.py#L169
which doesn't seem to work with `aws_iam_policy_document` data sources: It produces JSON that includes `"description": ""` and `"type": "string"`, which causes `terraform plan` to say
[code]
I can send along more details if that isn't enough to reproduce this.

[2018-04-08 11:01] robinbowes commented on #26
Thanks for fixing his - it's working well for me.

[2018-04-20 20:15] lvets opened #31 "Add 'vault' provider."
Would you be able to add the 'vault' provider? See https://www.terraform.io/docs/providers/vault/index.html.

[2018-04-24 04:14] mjuenema commented on #31
@lvets I am going to look into it but I am very busy at the moment so it won't be soon. Feel free to fork the repo, add the vault provider and submit a pull request if you feel confident to do so.

[2018-04-26 20:48] austin-millan commented on #3
Is there a work-around coming soon? Running into the same problem. Not all `data sources` have `description` or `type`.

[2018-04-26 22:03] mjuenema commented on #3
@jbscare are you able to send more details so I can reproduce your exact situation? Thanks. Markus

[2018-04-26 22:27] mjuenema commented on #31
The following works with release 0.5.0.
[code]
Obviously this is a dummy example. Can you adapt this to your needs and provide feedback whether it works for you?
Thanks, Markus

[2018-04-27 13:31] jbscare commented on #3
Yeah, I should be able to come up with something -- I don't have the exact case any more, because I worked around it by realizing that I could just define my policy documents as Python dicts, and use them directly in Terraform objects, rather than creating the policy documents as separate Terraform objects, which seems somewhat cleaner anyway. (When I started this, I was converting existing HCL co

[2018-04-27 19:56] lvets commented on #31
I'll give it a try. I did a quick test and saw this:
[code]
Any idea why that __DEFAULT__ is there?

[2018-04-29 07:41] nielsonsantana opened #32 "provisioner return one line with `provisioner.file` instead a dictionary"
The expected result of provisioner is a dictonary, but return just a `provisioner.file`.

    p = provisioner(
        'file',
        source='pgbouncer-config',
        destination='/tmp/pgbouncer'
    )
    print(p)
    # ------------------
    $ provisioner.file

[2018-04-30 01:11] mjuenema commented on #3
Thanks @jbscare and @nielsonsantana. This gives me examples to test with in `tests/test_issues.py`. (https://github.com/mjuenema/python-terrascript/blob/master/tests/test_issues.py). I'll keep you updated.

[2018-04-30 04:32] mjuenema commented on #3
@nielsonsantana and @jbscare.
I possibly fixed the problem. The code and test case are currently in the *feature/issue3* branch (https://github.com/mjuenema/python-terrascript/blob/feature/issue3). Please check the `tests/test_issue3*.py` scripts for your cases.
The underlying problem and work-around are described in this Terrafom issue
https://github.com/hashicorp/terraform/issues/13037 (check th

[2018-04-30 04:34] nielsonsantana opened #33 "Suggestion of syntax to terrascript: "ts.write""
I started work on documentation to upgrade to version 0.5.0, and I'm think that declare `ts +=` a bit tedious, specially when we will use the variable another time. In this case is necessary two lines.

[code]

Than, my suggestion is another syntax to Terrascript. Something explicit and more easy to use.
I think that is possible take advantage of multiple assign of python.
We would use a setter pr

[2018-04-30 04:48] mjuenema commented on #33
I only added the `+=` syntax in version 0.5.0 which was a major change. This is of course implemented as the `Terrascript.__add__()` method. There is actually a `Terrascript.add()` method which is simply an "alias" for   `Terrascript.__add__()`. Since it is not documented I suggest changing the behaviour of `Terrascript.add()` so it can be used as follows.
[code]
The `Terrascript.add()` method wou

[2018-04-30 05:05] mjuenema commented on #33
I have a test case for what I suggested in my previous post: https://github.com/mjuenema/python-terrascript/blob/issue33/tests/test_issue33.py

[2018-04-30 05:13] nielsonsantana commented on #3
@mjuenema, Worked nicely! Thanks! Great Job!
I checked the issue on terraform, but the unique solution was remove the attributes `type`  and `description`.

I don't understood was delete is False in test_issue33(
https://github.com/mjuenema/python-terrascript/blob/issue33/tests/test_issue33.py#L45)
[code]

[2018-04-30 05:15] nielsonsantana commented on #33
Great!! I will use the syntax `ts.add` in the docs in this case.

[2018-04-30 05:24] mjuenema commented on #3
Let @jbscare check whether this solves the problem he reported. Then I can merge the Github branch and create release 0.5.1.

[2018-04-30 05:47] mjuenema commented on #3
@jbscare Please note that the policy 'statement' has to be a list.
[code]

[2018-04-30 06:31] nielsonsantana commented on #33
As this syntax was implemented on branch issue33, I'm closing this issue.

[2018-04-30 06:31] #33 closed

[2018-04-30 14:10] jbscare commented on #3
Huh, interesting about the list thing; that wasn't the cause of my problem, but would have been if not for the other problem. :^ ) With the correction, the relevant part of the JSON now looks like this:
[code]
and `terraform plan` still fails in the same way.

I'll need to set up a virtualenv to test the fix, will try to get to that soon!

[2018-05-01 09:15] mjuenema commented on #3
Yes, I found that hint in a comment to an Ansible open bug. You'd have to test against the `feature/issue3` branch of Github repository. The 0.5.1 (candidate) version of *python-terrascript* is not on PyPi yet.

[2018-05-03 18:00] austin-millan opened #35 "vSphere: missing some data sources and resources"
**Error:**

`python-terrascript/terrascript/vsphere/d.py` is missing the declaration for a [vsphere_virtual_machine](https://www.terraform.io/docs/providers/vsphere/r/virtual_machine.html#cloning-and-customization-example) data source.

This data source is required by Terraform for cloning from an existing template. Which means for Terraform, the `vsphere_virtual_machine` is required as both a res

[2018-05-04 10:27] nielsonsantana opened #38 "Build errors introduced on branch issue33"
After update '.travis-ci.yml' and add [Terraform versions (0.10.1, 0.10.2, 0.10.3, 0.10.4, 0.10.5)](https://github.com/mjuenema/python-terrascript/blob/f8878e56302d655dece971111d471a2672d3f3e0/.travis.yml#L9-L13
), a build error was introducted. For this versions of terraform, the build aren't working(
https://travis-ci.org/mjuenema/python-terrascript/builds/372883420).

How we can solve this? Dro

[2018-05-04 17:02] jbscare commented on #3
Hey, I finally got a chance to try this out, and it seems to work. Thanks!

[2018-05-05 21:14] #3 closed

[2018-05-05 21:36] mjuenema commented on #31
This `__DEFAULT__` key in the `vault` dictionary is there to satisfy JSON syntax. It's a dummy key when a provider does not have an alias which is possible in HCL. If you look a the Multiple Provider section in the [Terrafrom documentation](https://www.terraform.io/docs/configuration/providers.html) you will see that only the second AWS provider has an alias.

[2018-05-05 21:36] #31 closed

[2018-05-05 21:58] #38 closed

[2018-05-05 23:04] mjuenema commented on #35
See `tests/test_issue35.py`.

[2018-05-05 23:04] #35 closed

[2018-05-05 23:06] mjuenema opened #39 "Add support for update terrascript from another terrascript. Same behavior as dict().update"
See pull request #37

[2018-05-08 23:43] mjuenema commented on #32
Hi @nielsonsantana. Can you please test against the [features/issue32](https://github.com/mjuenema/python-terrascript/tree/feature/issue32) branch of the repository. I haven't been able to fully test it myself yet so your feedback is welcome. I am particularly interested whether `terrascript apply` has a problem with the JSON input. `terraform validate` works fine.
Please be aware that currently t

[2018-05-09 23:11] mjuenema commented on #32
This should be fixed in release 0.5.1 whcih is now on PyPi. I tested with a `local-exec` provisioner (see `tests/test_issue32.py`.
@nielsonsantana Can you please verify whether this fixes your problem. Thanks.

[2018-05-09 23:28] nielsonsantana commented on #32
Hi @mjuenema, I did some tests. I have some doubts.
What should be the behavior of `print` one object(data, resource, provider...)? Should print the fullname or a dict that correspond what will be write to terrascript?
Because, `print` a provider, show the dict, print another objects still show the fullname. I think that print the object would be interesting to debug, instead of open the `ts` gene

[2018-05-09 23:38] mjuenema commented on #32
There are some grey areas in how Terraform's HCL language should translate into JSON. It's not actually documented. I tested the following Python/JSON code and it works, but does not solve issue #29.
[code]
Creates
[code]
and running `terrascript apply` does execute the provisioner.

[2018-05-09 23:39] mjuenema commented on #32
I haven't tested adding a **list** of provisioners as in your example.

[2018-05-10 12:16] nielsonsantana commented on #32
I will do more tests.

[2018-05-17 07:31] austin-millan commented on #23
Hi @mjuenema,

I believe this is a good place to ask this. I am trying to avoid assigning to local variables. Something like:

[code]

Ideally I would be able to reference data sources/resources already inside a Terrascript instance. I was looking into  [`_Config__getitem__(key)`](https://github.com/mjuenema/python-terrascript/blob/master/terrascript/__init__.py), but it isn't very straightforward

[2018-05-17 21:16] mjuenema commented on #23
Hi @austin-millan. I'd recommend to use Python variables to keep references to resources. The logic for referencing resources is implemented in the `__repr__()` method (calling the `interpolated` property) of the `_base` class in `terrascript/__init__.py`.
In release 0.5.1 I added the `Terrascript.add()` method so one can do this.
[code]
The `.add()` method works like `+` but also returns its orig

[2018-06-06 16:33] jbscare opened #40 "Support new AWS resource `aws_config_configuration_aggregator`"
terraform-provider-aws version 1.22.0 supports AWS Config Aggregators, with a new `aws_config_configuration_aggregator` resource (https://www.terraform.io/docs/providers/aws/r/config_configuration_aggregator.html), but Terrascript doesn't seem to know about it:
[code]

[2018-06-06 22:24] austin-millan opened #41 "Missing vSphere Data Source: Datastore"
Terrascript is missing the [vsphere_datastore](https://www.terraform.io/docs/providers/vsphere/d/datastore.html) data source.

This declaration should be included in: `python-terrascript/terrascript/vsphere/d.py`

[code]

[2018-06-07 02:43] mjuenema commented on #40
I moved house last week and my computers are still in boxes. So please be a bit patient before I can address this issue. Thanks, Markus.

[2018-06-07 02:44] mjuenema commented on #41
I moved house last week and my computers are still in boxes. So please be a bit patient before I can address this issue. Thanks, Markus.

[2018-06-07 16:10] jbscare opened #43 "terrascript.terraform class vs module?"
This may be a dumb question, but I can't figure out how to get it to work, so I figured I'd ask here.

I have a script like this:

[code]

If I run this, I get an error:
[code]
At this point, `terrascript.terraform` is a class:
[code]
If I add `import terrascript.terraform.d`, I get a different error:
[code]
At this point, `terrascript.terraform` is a module:
[code]
I've tried a bunch of different

[2018-06-18 15:22] guillaumedsde opened #45 "Acess Azure built in role definition permissions.actions"
Hi,
I am creating an Azure Terraform file for deployment (I'm at the "messing around with it" stage).

Specifically I'm trying to create a custom role with permissions based on a default Azure custom role.

As per the this terrafor documntation : [https://www.terraform.io/docs/providers/azurerm/d/builtin_role_definition.html](url)
 I would like to acess the variable "${data.azurerm_builtin_role_de

[2018-06-19 09:07] guillaumedsde commented on #45
So I have found a very VERY getto way of accessing builtinrole.permissions.actions, by merging string together to essentially create the variable name, this solution is a very dirty hack:
[code]

@mjuenema I feel like I am misunderstanding the terrascript syntax, or mabye its just not something you can do with terrascript?

[2018-06-19 22:06] mjuenema commented on #43
Hi @jbscare, sorry for the late response but I just moved house _and_ started a new job. Unfortunately that leaves me with very little time for other things at the moment. I promise that I am going to look into this as soon as I can. Sorry!

[2018-06-19 22:07] mjuenema commented on #45
Hi @guillaumedsde , I just moved house _and_ started a new job and unfortunately that leaves me with very little time for other things at the moment. I promise that I am going to look into this as soon as I can. Sorry!

[2018-06-19 23:16] austin-millan commented on #45
@guillaumedsde,

I've noticed `Python-Terrascript` is pretty bare-bones, leaving a lot of work to the end users. So don't be too surprised if you're forced to use various workarounds like this. One option is to fork the project and make local modifications to allow you more flexibility out of this project.

Just a heads up on a little detail:

This actually isn't a variable, it's a string that Ter

[2018-06-20 03:18] mjuenema commented on #45
Thanks Austin. Terrascript really started as a proof-of-concept to show that it is possible to generate Terraform configurations through Python. Now that people start using it with many different Terraform providers and resources, more and more of Terrascript's limitations, bugs and quirks(!) show up. As this is a private project and I am the only maintainer (big thanks to everyone who submitted p

[2018-06-20 03:51] jbscare commented on #43
No worries -- hopefully the new house and job are both great, and we're still loving everything *else* about Terrascript meanwhile. :^ )

[2018-06-20 08:38] guillaumedsde commented on #45
@mjuenema Yes no problem, I read your response to other issues afterwards, should have read that before tagging you, good luck with unpacking and hope you settle well. (awesome project btw, you're saving me from that awful HCL Hashicorp Langugae with no modules and weird syntax)

@austin-millan Thanks a lot for your answer, the variable being a string rather than an actual variable was what got me

[2018-06-20 16:03] austin-millan commented on #45
@guillaumedsde
I also prefer Python syntax over HCL. Plus you can imperatively create objects instead of declaratively, which is a paradigm that I'm more comfortable with.

Regarding `interpolated`: I actually have never directly referenced the interpolated attribute. Maybe try using the interpolated method instead? And maybe check if it happens for all Terrascript data sources / resources?

[2018-06-25 23:27] nbommu1 opened #47 "Support new AWS resource `aws_kms_grant'"
terraform-provider-aws version 1.22.0 supports aws_kms_grants (https://www.terraform.io/docs/providers/aws/r/kms_grant.html), but Terrascript doesn't seem to know about it:

Traceback (most recent call last):
  File "./terrascript-nonprod.py", line 84, in <module>
    ts += terrascript.aws.r.kms_grant\
AttributeError: module 'terrascript.aws.r' has no attribute 'kms_grant'

[2018-06-26 16:10] nbommu1 commented on #47
PR for this, https://github.com/mjuenema/python-terrascript/pull/49

[2018-06-26 16:14] nbommu1 commented on #40
PR for this, https://github.com/mjuenema/python-terrascript/issues/40

[2018-08-13 05:56] mjuenema commented on #47
This has been implemented in #51.

[2018-08-13 05:56] #47 closed

[2018-08-13 05:57] mjuenema commented on #43
Sorry for the long wait. I hope I can find time this week to look into this...

[2018-08-20 22:58] austin-millan commented on #41
Issue addressed in #52.

[2018-08-20 22:58] #41 closed

[2018-09-10 15:51] learn3r opened #55 "Please add matchbox provider support"
Please include  support for "matchbox provider "
https://github.com/coreos/terraform-provider-matchbox

[2018-09-28 11:32] mjuenema commented on #43
Sorry, Josh, but I hadn't touched Terrascript for weeks - well, months! I am just about to release 0.6.0 which includes all merged pull requests. I am going to look into this problem for 0.6.1.

*"It seems like the problem is that terrascript.terraform is both a module and a class; if I rename the class to Terraform in .../terrascript/__init__.py, things seem to work."* - You are absolutely right

[2018-09-28 11:34] #40 closed

[2018-09-28 11:39] #39 closed

[2018-11-12 17:02] jbscare opened #59 "Terrascript 0.6.0 not available via pip?"
When we try to install Terrascript 0.6.0, we get an error saying that it's not a known version.

[2018-11-19 19:30] mjuenema commented on #59
That should be fixed now. Thanks Josh.

[2018-11-19 19:30] #59 closed

[2019-03-01 00:25] jbscare opened #62 "Terraform 0.12 compatibility"
It'd be great if Terrascript were compatible with Terraform 0.12 when it came out (or soon after).

[2019-03-01 01:26] mjuenema commented on #62
Hi Josh,

I fear that's going to be quite a challenge. I haven't really looked into it yet but one option would be to create a completely new Terrascript2 project for Terraform 0.12+. It appears that Hashicorp cleaned up some oddities of the JSON configuration language for Terraform 11 and earlier. That may make my job actually much easier. Maintaining backwards compatibility might become a comple

[2019-03-01 06:20] nielsonsantana commented on #62
@mjuenema, I think that I would be a co-maintener. I'm currently building the script to create the resources/data based on documentation (https://github.com/terraform-providers/).

[2019-03-01 21:58] mjuenema commented on #62
Thanks Nielson, I am going to check how that works on Github. I'll let you know.

Markus

--
 Markus Juenemann
 markus@juenemann.net

On Fri, 1 Mar 2019, at 5:20 PM, Nielson Santana wrote:

[2019-03-05 21:01] wggit opened #63 "Enhancement request: Add support for 'OCI' provider"
It will be really valuable to add and support for OCI (Oracle Cloud Infrastructure).

Thank you.

[2019-03-11 05:42] mjuenema commented on #63
Hi wggit, do you think you are able to add the missing code and submit a pull request?

[2019-05-01 21:12] Spikeophant commented on #62
I'd happily jump in and help with this work, I am starting to use this at work, and they would let me work on this on the clock.  I'm also going to go through other issues and see if I can help.

[2019-05-02 00:27] mjuenema commented on #62
@Spikeophant Great thanks.

[2019-05-02 00:29] mjuenema commented on #62
I am going to start on a separate branch for Terraform 0.12 soon.

[2019-07-04 17:14] andrew-lee-metaswitch opened #68 "Is there any support for "null_resource" in terrascript?"
Cool module!

I have a terraform file that has the following resource:
[code]
Is there anyway to express null_resources via terrascript?

Thanks!

[2019-07-05 10:29] andrew-lee-metaswitch commented on #68
I think I've solved this myself with:
[code]

[2019-07-05 10:29] #68 closed

[2019-07-11 11:17] TecumsehSamp commented on #62
Hey, how's this going? Need any help?

[2019-07-12 04:37] mjuenema commented on #62
Sorry for the lack of progress here. First I have been really busy with work and now I am away on holidays (much nicer!). I hope that I can start on Terraform 0.12 compatibility sometime in early August.

[2019-07-12 16:34] Spikeophant commented on #62
I'm in the same boat, swamped with work, we pushed back our TF 0.12 project until August as well so this aligns with the timeline I'll be able to jump in too.

[2019-07-12 23:43] jbscare opened #70 "Release 0.6.1?"
Any thoughts about releasing a version 0.6.1? There's been a lot of stuff since 0.6.0. :^)

(Opening a ticket doesn't seem like the best way to suggest this, but I wasn't sure what else would be better.)

[2019-07-13 06:43] mjuenema commented on #70
Opening a ticket is fine as it is easy to reference. I am currently overseas on holidays for another week. I can create a 0.6.1 release when I am back home.

[2019-07-13 15:00] jbscare commented on #70
Awesome; thanks!

[2019-08-08 01:33] mjuenema commented on #70
Following a suggestion by @nielsonsantana this will probably be 0.7.0 as there are quite a few changes.

[2019-08-09 09:38] tkocemba opened #74 "Terrascript doesn't support multiple providers properly"
I run slightly modified example

[code]
and library generated following output

[code]

structure for providers is not proper,  references passed to module cannot be found. Its problematic because we intensively uses modules and multiple providers. Expected  output is described here
https://github.com/hashicorp/terraform/pull/2015

Cheers,
Tomek

[2019-08-14 11:13] nielsonsantana commented on #74
Hi @tkocemba.
I think that this thread https://github.com/hashicorp/terraform/pull/2015 is for describe multiples providers. Not for use theses resources
Based on the based on terraform documentation([Resources](https://www.terraform.io/docs/configuration/resources.html), [Providers](https://www.terraform.io/docs/configuration/providers.html )), is possible use only one provider per resource.
Here

[2019-08-14 11:18] nielsonsantana commented on #29
I think that this problem was solved. I'm using multiples providers.
Example:

[code]

Output:

[code]

[2019-08-15 11:22] rosscdh commented on #70
? progress

[2019-08-16 21:36] mjuenema commented on #70
Done - and thanks for everyone's patience.
Please check ``README.md`` and ``DEVELOPMENT.md`` in the ``develop`` branch for important information regarding current releases.

[2019-08-16 21:36] #70 closed

[2019-08-16 21:47] mjuenema commented on #62
There is now a ``develop-0.7`` branch which has not seen much testing yet but contains a lot of changes introduced by Pull Request #72.
Personally I will be focussing on a major code rewrite which will eventually become release 0.8.0. I find the (my!) current code really messy and that's never a good sign.

[2019-08-19 00:07] mjuenema commented on #74
@tkocemba do you have a working example in Terraform HCL language?

[2019-08-21 02:58] mjuenema commented on #74
@tkocemba @nielsonsantana
I think this is similar to this: https://www.terraform.io/docs/configuration/modules.html#passing-providers-explicitly

[2019-08-21 04:36] mjuenema commented on #63
This has been added for the future 0.8.0 release but must still be back-ported into the ``develop-0.6`` and ``develop-0.7`` branches.

[2019-08-22 13:50] tkocemba commented on #74
Hey,

Sorry for updating sooner, busy with current task.  Thanks for this link this is exactly how we use it.
Its best practice to pass providers to module.

[2019-08-30 06:44] iamdaaniyaal opened #77 "Terrascript-Google Cloud Platform"
Does python-terrascript work for Google Cloud Platform?

[2019-09-02 12:17] nielsonsantana commented on #77
Hi @iamdaaniyaal. Yes. Here the resources for Google Cloud Plataform.
https://github.com/mjuenema/python-terrascript/tree/develop/terrascript/google

[2019-09-02 19:24] iamdaaniyaal commented on #77
Hi @nielsonsantana. Thanks for helping out with the GCP resource.
Is there some documentation / guide to use the GCP module of Terrascript as I am unable to understand its usage?

[2019-09-14 12:19] mjuenema commented on #77
@iamdaaniyaal Is your question specific to Google Cloud Platform or how Terrascript works generally? Have you used Terrascript with other providers, for instance Amazon Web Services?

[2019-09-18 18:11] #74 closed

[2019-12-16 19:57] mjuenema commented on #77
Hi @iamdaaniyaal, I will be closing this issue in the next few days for lack of activity.

[2020-01-02 04:52] mjuenema opened #85 "Travis-CI: json.JSONDecodeError not available in Python 3.4"
Change ```tests/shared.py:assert_deep_equal()``` to catch ```ValueError``` instead of ```json.JSONDecodeError``` as the latter has only been introduced in Python 3.4. Alternatively drop Travis-CI tests for Python3.4

[code]

[code]

[2020-01-02 04:56] mjuenema commented on #77
Closed for lack of activity.

[2020-01-02 04:56] #77 closed

[2020-01-02 04:57] mjuenema commented on #63
Not going to back-port this into develop-0.6 and develop-0.7 branches.

[2020-01-02 04:57] #63 closed

[2020-01-02 04:59] mjuenema commented on #62
I am closing this is as I am actively (really, just started finding some time!!!) working on 0.8.0 which will support Terraform 0.12

[2020-01-02 04:59] #62 closed

[2020-01-02 05:00] mjuenema commented on #55
I am going to add this to release 0.8.0

[2020-01-02 05:08] mjuenema commented on #43
This will hopefully resolve with the changed directory layout where all providers are in the same module.
[code]
I have to remind myself to create a test case for this issue.

[2020-01-02 05:12] mjuenema commented on #23
I changed the title to better reflect the content of this issue.

[2020-01-02 05:15] mjuenema commented on #23
Dot-notation as implemented in https://pypi.org/project/python-box/ may be a nice approach here. I'd probably have to re-implement this myself as I am already "abusing" the attribute access methods.

[2020-01-02 20:32] mjuenema opened #86 "Support community providers"
The current ``tools/makecode.py`` script is unable to generate code for community providers (https://www.terraform.io/docs/providers/type/community-index.html) as the Github URL to a provider is hard-coded. The ``tools/makecode.py`` script must be changed to read ``providers.yml`` replacing ``PROVIDERS``. ``providers.yml`` can then contain a link to the Github repository for the provider.
[code]

[2020-01-02 20:34] mjuenema opened #87 "Create custom Gitpod environment"
Add terraform binary/binaries(?) and other Python tools.

[2020-01-02 20:57] mjuenema commented on #87
* pylint
* flake8

[2020-01-02 21:25] #86 closed

[2020-01-02 21:40] mjuenema commented on #55
Added: https://github.com/mjuenema/python-terrascript/commit/0019821dd411d3aa89d5c988c6add68f7ce9a36b

[2020-01-02 21:40] #55 closed

[2020-01-03 02:18] #87 closed

[2020-01-03 03:02] mjuenema commented on #43
So the root cause of the problem is that ```terraform``` is a top-level block and also a provider with the ```terraform_remote_state```.

With the upcoming 0.8.0 release of Terrascript the best way out of your problem is to use the new module layout. I added https://github.com/mjuenema/python-terrascript/blob/develop/tests/test_issue43.py which documents this.

[2020-01-03 12:19] jbscare commented on #43
Makes sense. If the new 0.8.0 layout makes this issue obsolete, feel free to close it. Thanks!

[2020-01-03 22:39] mjuenema commented on #43
Closing as the solution is documented in ```tests/test_issue43.py```.

[2020-01-03 22:39] #43 closed

[2020-01-03 22:47] mjuenema opened #88 "Structure of tests"
Re-structure ```tests/``` to distinguish between tests that

1. do Python ```assert``` only.
2. create valid (```validate```/```plan```) Terraform configurations but they can not be fully tested (``apply```/```destroy```) in the test environment.
3. create valid Terraform configurations which can applied and destroyed in the test environment.

[2020-01-05 06:33] mjuenema opened #89 "Get references to data right."
Currently the Python data source example in the Tutorial does not work. The reference to ```image.self_link``` results in ```"image": null``` in the JSON output.

[code]

[code]

[2020-01-05 09:54] mjuenema commented on #85
Removed Python 3.4 from ``.travis.yml``.

[2020-01-05 09:54] #85 closed

[2020-01-05 21:25] mjuenema commented on #89
I think that's fixed

[2020-01-05 21:25] #89 closed

[2020-01-06 11:36] mjuenema commented on #23
I just realised that at least for read-only access, dot-notation already works. See the ``test_datasource_attributes()`` method in https://github.com/mjuenema/python-terrascript/blob/develop/tests/test_data.py for an example.

Existing attributes are returned and accessing not (yet) existing ones creates a reference.
[code]
Changing an existing attribute through dot-notation is not implemented but

[2020-01-06 11:37] mjuenema commented on #23
TODO: Create a test case for Nitish's example.

[2020-01-06 11:44] mjuenema commented on #32
TODO: Create a test case for this issue.

[2020-01-06 11:48] mjuenema commented on #30
README.md has been rewritten into README.rst and does no longer contain links to examples.

[2020-01-06 11:48] #30 closed

[2020-01-06 11:54] mjuenema commented on #88
* ``test_basic_*`` - Basic tests that do not require a Terraform provider. Run by executing ``make test``.
* ``test_issue_*`` - Tests for Github issues that do not require a Terraform provider. Also run by executing ``make test``.
* ``test_PROVIDER_*`` - Provider specific tests that can go through a full ``terraform init/validate/plan/apply/destroy`` cycle and may require the provider to be fully

[2020-01-07 22:49] mjuenema opened #90 "Access top-level blocks through dot-notation"
[code]

[2020-01-08 21:35] mjuenema opened #91 "Add test whether all providers in providers.yml are present"
Dynamically ```eval()``` instantiating every provider and check whether there is at least one class for each provider in ```terrascript.data``` and ```terrascript.resource```.

[2020-01-09 01:15] mjuenema commented on #32
Created test case

[2020-01-09 01:15] #32 closed

[2020-01-15 03:33] mjuenema opened #92 "Start a Slack channel for Python-Terrascript(?)"

[2020-01-15 04:48] mjuenema commented on #92
Created Zulip organisation.

[2020-01-15 04:53] mjuenema commented on #92
Test

[2020-01-15 04:53] mjuenema commented on #92
Reopen

[2020-01-15 04:53] mjuenema commented on #92
Close

[2020-01-15 11:23] jbscare commented on #92
Is this for chatting with users, or just notifications from GitHub? If the former, where would users find it? :^ )

[2020-01-15 21:32] mjuenema commented on #92
Wow, Josh, you are quicker than I am. It's meant to be a communications channel that's less formal than Github issues for example. One could chat about anything related to the project. It's not on Slack but on Zulip (https://python-terrascript.zulipchat.com/) where you can log in using your Github account. I am going to put a link on the Python-Terrascript project page soon.

[2020-01-16 19:48] mjuenema opened #93 "Create 0.8.0-alpha release"
For user testing and early adoption.

[2020-01-16 20:23] mjuenema opened #94 "Add Advanced Topics section to documentation"
* Adding Python (raw) dicitionaries or lists
* Subclassing Resources and Data Sources

[2020-01-19 20:34] #29 closed

[2020-01-19 21:21] mjuenema commented on #93
I am not going to create an 0.8.0-alpha release. Instead version 0.8.0 will be released by the end of January. Any bugs will be fixed with release 0.8.1.

[2020-01-19 21:21] #93 closed

[2020-01-19 21:35] mjuenema opened #95 "Fix PyPi README"
Check https://test.pypi.org/project/terrascript/0.8.0/.

[2020-01-19 21:36] #88 closed

[2020-01-21 21:02] mjuenema opened #96 "Run a Python linter/formatter over all code"
This includes
* ``terracsript.__init__.py``
* Generate code for providers, resources and data sources.
* Examples
* Tests

[2020-01-31 00:50] mjuenema opened #97 "Create `CONTRIBUTING.rst`"
Could be based on https://github.com/python-attrs/attrs/blob/master/.github/CONTRIBUTING.rst

[2020-01-31 06:52] mjuenema commented on #96
Added 'black' target to Makefile to run Black on all Python source code. This has to be done manually but that's good enough for now.

[2020-01-31 06:52] #96 closed

[2020-02-13 14:37] jbscare commented on #92
Hiya! I tried to sign in there using my GitHub account, but it said that I needed an invitation. Is that as expected?

[2020-02-13 14:45] jbscare opened #98 "Change to .update() in 0.8.0?"
In our Terrascript 0.6.1 scripts, we have a bunch of functions that define pieces of the configuration, and we assemble them like this:

[code]

where `config` is a dict based on a collection of YAML config files.

Each of those functions looks like this:

[code]

That used to work in 0.6.1, but doesn't in 0.8.0; it seems that each `ts.update(something)` replaces the previous one, and only the las

[2020-02-13 21:30] mjuenema commented on #92
Hi Josh, no that's not how it is supposed to be. Let me check this.

[2020-02-13 21:38] mjuenema commented on #98
Hi Josh, I always feared that I would break something in 0.8.0. I am going to investigate this later today.

[2020-02-22 07:20] mjuenema commented on #98
Hi Josh, sorry for the delay. I don't have a solution yet but can at least offer a detailed analysis:
https://github.com/mjuenema/python-terrascript/blob/issue98/docs/issues/098.ipynb (I hope the link works)

[2020-02-22 07:24] mjuenema commented on #98
Like this https://gist.github.com/angstwad/bf22d1822c38a92ec0a9 ?

[2020-02-22 07:27] mjuenema commented on #92
Hi Josh, please try again. You should be able to join the "organization" without an invitation.

[2020-02-22 10:35] mjuenema commented on #98
And added an idea for a possible solution.

[2020-02-22 16:21] jbscare commented on #92
It worked! Not a lot of users there. :^) Thanks!

[2020-02-22 16:26] jbscare commented on #98
Thanks! Also, if this pattern isn't recommended at this point, it wouldn't be hard to change our script to do something else. We like being able to create multiple Terrascript objects and merge them together, but we could potentially do something else.

[2020-02-22 18:43] mjuenema commented on #98
As it used to work I should probably retain the feature. I have no opinion how Terrascript is meant to be used the right way.

[2020-02-22 18:43] mjuenema commented on #92
True, it may be a dead end.

[2020-02-22 22:20] mjuenema commented on #98
Josh, can you please verify whether the ``update()`` implementation in branch *issue98* would fix your problem.

[2020-02-24 16:38] jbscare commented on #98
Looks good! At least so far -- I've updated a bunch of our modules, enough to get one of our environments to complete successfully, and all it says now is

[code]
which I think is expected! (And before it was missing lots of stuff.)

[2020-02-24 20:56] jbscare commented on #98
I've now updated all of our modules, and everything seems to work, and the only changes in the JSON file are like the ones I pasted above. (All this trouble for that little change? Sheesh. :^ )

Looking forward to a 0.8.1 release!

[2020-02-24 22:05] mjuenema commented on #98
Good, i got the ``__iter__()`` method out of it as a side-effect :-)

[2020-02-28 16:00] bkranendonk opened #99 "Copying a Resource object does not work with dict().copy and copy.deepcopy()"
**Issue:**
I tried to copy a Resource, so that I dont have to specify the same object over and over again

**What I ran:**
`self.base_instance = osr.openstack_compute_instance_v2(
            _name="Instance",
            name="Instance",
            count="1",
            availability_zone=self.provider_az[0],
            image_name="CentOS 7 (LTS)",
            flavor_id="2004",
            key_

[2020-03-04 08:53] #98 closed

[2020-03-04 08:54] #92 closed

[2020-03-25 11:55] mjuenema commented on #99
Hi @bbramms, sorry for the long wait. I had a closer look at the problem you described. Please check https://github.com/mjuenema/python-terrascript/blob/issue/issue99b/docs/issues/099.ipynb for details.

The *Python-Terrascript* script code contains some hacks that make its classes "un-pickable". The ``copy.copy()`` function actually uses ``pickle`` to copy objects (see the very end of https://doc

[2020-03-26 07:15] mjuenema commented on #99
@bbramms Good news. I think I fixed the problem. Please try yourself using the ``develop`` branch and provide feedback so I can close the issue.

[2020-04-06 18:32] ffalorjr opened #102 "GCP compute metadata being overwrote"
Hello,

I'm creating a CLI that will be used to test puppet code at my company. The cli creates windows and linux VMs deploys puppet code gets the status and then destroys them. I'm having trouble passing unique information to the gcp compute resource.

End users have a config script they pass the CLI and it is used throughout the code.

Here is the code for creating the config for gcp
[code]

The

[2020-04-09 12:29] bbramms commented on #99
Thanks for your reply!

I tried out this piece of code with the cloned develop branch:

[code]

Unfortunately that snippet still returns 10 times the last created resource:

[code]

Are there any best practices for copying resources within Terrascript. I really want to know because it's a wonderful module. Thanks! :)

[2020-04-20 07:47] mjuenema commented on #99
Hi, there are no "official" best practice for copying a resource, or any other Terrascript object for that matter. It's not something I had particularly envisaged when I started work on the project but it is of course a perfectly valid approach.

What you encountered is quite simply a bug. The difficulty I have in fixing this bug stems from the fact that Terrascript kind of "abuses" Python diction

[2020-04-20 07:55] mjuenema commented on #99
On a side note, I had a look at your **PyIOS** project. I am interested because that's what i am really dealing with on a day-to-day basis as a Systems and Network Engineer. And I also can appreciate how much effort is involved in maintaining even a small project on Github.

As you probably have noticed, I have very limited time for working on Terrascript as I don't deal with "the cloud" at all th

[2020-04-20 13:15] jbscare commented on #99
This may be a dumb question, but could you add a `terrascript.copy` function in the code itself? (Or `terrascript.deepcopy`, or whatever.)

[2020-04-20 13:29] bbramms commented on #99
Developed that for a Software Defined Networking grade actually, didnt touch it since then. Feel free to create some issues and I will look into them when i have some time.

[2020-04-20 21:23] mjuenema commented on #99
I rewrote your  code a bit.
[code]

[2020-04-20 21:27] mjuenema commented on #99
@jbscare I'd really want to avoid adding ``.copy()`` or ``.deepcopy()`` methods. ``copy.copy()`` should work although I think there are better alternatives.

[2020-06-06 14:47] giovtorres opened #103 "null provider missing in 0.8.0"
While upgrading from 0.6.0 to 0.8.0, I noticed there is no `terrascript.provider.null` to create a null provider.

I previously had:

[code]

Is there an equivalent for using the null provider in 0.8.0?

[2020-06-06 20:31] #103 closed

[2020-07-30 19:45] mprince opened #107 "google-beta provider availibity"
Hello guys! To access beta features in GCP using the terraform GCP providers, it has now been separated into 2 distinct providers as shown in the [documentation] (https://www.terraform.io/docs/providers/google/guides/provider_versions.html#google-beta)as of version 1.19.0 of the provider. I don't see that provider available in the library in the latest version 0.8.0. If it's not available when is

[2020-08-11 12:42] ilons opened #108 "azure / azurerm provider availability"
## TLDR
azurerm provider have ben restructured, so that it does no get parsed properly

## Description
So apparently Microsoft decided to refactor their [azurerm provider](https://github.com/terraform-providers/terraform-provider-azurerm/blob/master/azurerm/provider.go) with the side-effect that the [makecode.py](tools/makecode.py) are no longer able to parse any resources or datasources out of it

[2020-08-12 06:28] ilons opened #109 "Variable string concatenation"
I'm trying to perform string concatenation with variables, but are having some trouble to get it to work.

**Actual Terraform**:
[code]

**Expected Terrascript**:
[code]

**Expected result**:
[code]

**Actual result**:
[code]

Without string interpolation during the assignmen (`name=env_prefix,`, it gets almost right:
[code]

But should in fact be:
[code]

[2020-08-12 06:38] ilons commented on #109
Am I doing something wrong here, or is this simply a case which is not (yet) covered?

Using this class instead as Variable works:
[code]

**Actual output**:
[code]

Is this change something that would be desirable that I make tests and a PR for in Terrascript?

[2020-08-12 06:44] ilons commented on #109
Also related to this, should Variable be represented by `var._name` or `${var._name}`?
The later is what works when actually running the Terraform template, while the former requires you to manually surround it with `${}`: `name=f'${{{my_var}}}'`.

[2020-08-12 12:28] mjuenema opened #110 "Looking for new maintainer."
As many of you will have already noticed, unfortunately I don't have sufficient time to properly maintain python-terrascript anymore.

What was intended to be a just small experiment turned into my most popular Github project with more than 250 stars. In turn this means that at least 250 other people have a certain level of expectation towards me actually mainatining the project to a certain level

[2020-08-17 09:03] ilons commented on #110
Would you be wiling to stay as maintainer if you get one or more persons who step in to help?

Since the reasons you mention for wanting to find the project a new maintainer, would probably also be true for the next maintainer.

I could help maintaining the project to some extent since I plan to actively use it, but feel it would be good to have you onboard going forward, if nothing else at least

[2020-08-17 10:00] mjuenema commented on #110
Hi Ilon, that's a possible approach. I am going to add you as a maintainer.

[2020-08-17 10:10] mjuenema commented on #110
There are already two other people who are collaborators (the official term), @nielsonsantana and @Spikeophant, although neither have used that level access yet. From memory, both have contributed pull requests previously.

@ilons, feel free to take over as much as you like. Judging from your recent pull requests you seem to have a good understanding of the project. I mentioned that I don't have e

[2020-08-18 05:03] ilons commented on #110
I understand, and have also got that impression already from reading small notes in the documentation for example (where you ask for real world cases).

I'll try to give it some love, time will tell how it goes.
Please just tell me if you have opinions on any changes I do.

In the meantime:
**If anyone else feel like they would like to contribute to the continued development of the project, please

[2020-08-21 05:49] ilons commented on #109
Should be fixed in develop now.

[2020-08-21 05:49] #109 closed

[2020-08-21 05:55] ilons commented on #107
I can have a look at adding this after I have cleaned up the generator some.

Or if you would like to have a try at it: tools/makecode.py is the script responsible to add new providers, through the defined ones in tools/providers.yml.

[2020-08-21 08:47] mjuenema commented on #110
Hi @ilons, do you want to remove the "Looking for new maintainer" section in ``README.md`` or shall I do it?

[2020-08-28 14:08] ilons opened #120 "Unable to update terraform block when added"
I'm trying to define my `terraform` resource to the configuration in multiple steps, first adding `backend`, and later add `required_version`.

I'm not certain if this is a bug or feature request, but I would expect to be able to add the resource multiple times, and have the properties merged, similar to how I can add multiple resources of other types.

My idea of how it would work is something li

[2020-08-28 14:14] ilons opened #121 "Remove support for Python 3.5"
As 3.5 approaches its end-of-life date (2020-09-13)[https://devguide.python.org/#status-of-python-branches], we should also drop support for it and stop building it.
This would allow for us to pick up 3.9 being released on (2020-10-04)[https://devguide.python.org/#status-of-python-branches] and in the long run make for less workarounds for legacy.

[2020-08-28 23:54] mjuenema commented on #121
That's fair enough, given that only a small number of downloads from PyPi are for Python 3.5.

Version | Downloads
-- | --
3.4 | 4 |
2.7 | 44 |  
3.5 | 409 |  
3.8 | 534 |  
3.6 | 4352 |  
null | 5204 |  
3.7 | 6732 |  

https://console.cloud.google.com/bigquery
[code]

[2020-09-05 19:27] hugovk commented on #121
Please see PR #124 to drop 3.5, and #125 to test on 3.9-dev to make sure tests are passing for the full release.

[2020-09-05 19:45] hugovk commented on #95
Please see PR https://github.com/mjuenema/python-terrascript/pull/126

[2020-09-07 05:46] ilons commented on #121
Great work @hugovk, much appreciated help with the move to Python 3.9.

[2020-09-07 08:15] ilons opened #127 "Fail builds on files modified by Black"
In order to make it easier for contributor to keep a consistent code style, we should start fail builds for any files changed when running `make black` in the build.
This would ensure that code changes adhere to the code style dictated by Black.

[2020-09-07 09:38] mjuenema commented on #127
I agree, but to ensure consistent outcomes Black must be pinned to a specific version.

[2020-09-07 10:15] ilons commented on #127
Ah yes, this is coming in as part of https://github.com/mjuenema/python-terrascript/pull/124

[2020-09-07 22:46] mjuenema commented on #127
:+1:

[2020-09-11 06:09] #95 closed

[2020-09-11 06:40] #121 closed

[2020-09-27 22:34] AmrMKayid commented on #108
@ilons any updates regarding this issue?!

[2020-09-28 04:51] ilons commented on #108
No updates yet I'm afraid. I'll have a stab at it when the (delayed) 0.9.0 release is out the door.

[2020-11-02 23:56] mprince commented on #107
Sorry for late reply but I got drifted on this. If this will be included in release 0.9.0 I could wait for it at this point. Thanks for answering @ilons

[2020-11-16 13:25] VGzsysadm opened #136 "Where i can find documentation more detailed for attributes resources for providers?"
Greetings.

I'm using the vsphere provider, but i don't have clarify about how to use this provider through terrascript:

Actually i'm using the following configuration:

config += data.vsphere_datacenter('dc',
    name = "MainDC",
)

config += data.vsphere_resource_pool('pool',
    name = "VW_CLUSTER/Resources",
    datacenter_id = data.vsphere_datacenter.datacenter.id
)

returning the following

[2020-11-16 15:12] mjuenema commented on #136
Hi @VGzsysadm, here's some background information to start with.

Terrascript is only a thin wrapper and does not check whether the resulting Terraform configuration is correct.

The ``data.vsphere_datacenter`` and all other classes are effectively just "aliases" for ``terrascript.Data``, e.g.

[code]

which itself is simply a ``terrascript.NamedBlock``.

[code]

So if you take the definition of t

[2020-11-16 15:22] mjuenema commented on #136
Regarding your issue; I am quite out of practice with this but in the `` data.vsphere_resource_pool``, ``data.vsphere_datacenter`` is a class and not an instance of a class. Also, if you want to reference the data source you add first you have to "remember" it in a variable.

I haven't tested this but the code below should get you closer.

[code]

Let me know whether that helped.

[2020-11-16 22:13] blackego30 commented on #26
@mjuenema, I too am running into this issue. After reading over the thread I am still not able to get this working as designed? Has there been an update to the code?

[2020-11-16 23:22] mjuenema commented on #26
Hi @blackego30, there have been many changes to the code since 2018. Can you please provide some more details of the problem you are encountering. Some sample code would be very useful.

[2020-11-17 00:11] blackego30 commented on #26
Hello @mjuenema,
initialize(**options)

# Use Datadog REST API client
from datadog import api

datadog_monitors = api.Monitor.get_all()

timestamp = strftime("%Y-%m-%d_%H:%M:%S", gmtime())

# print(json.dumps(datadog_monitors, indent=2, sort_keys=False))

print (timestamp)
print ("Number of monitors: ", + len(str(datadog_monitors)))

with open('existing_monitors.json', 'w') as outfile:
    json.du

[2020-11-17 09:27] VGzsysadm commented on #136
Hi mjuenema, thanks for your help.

I still investigating, trying to compare the json generated by terrascript with my terraform HCL.

I will add the solution when the errors gone..

Thanks!!.

[2020-11-20 06:59] ilons opened #137 "Migrate build to Travis CI .com (from .org)"
In order for us to continue being able to build the project, we should as soon as possible migrate from travis-ci.org to travis-ci.com, as the .org service will be switched into **read-only archive** by new year.

Currently, this "only" affect us in that our builds take **hours** to get scheduled due to the huge job queue that builds up on travis-ci.org, as they move infrastructure away from .org.

[2020-11-20 07:13] ilons commented on #137
Looking at the build queue on https://www.traviscistatus.com/, it's an ugly build-up for open source projects.

[2020-11-20 07:25] ilons commented on #137
Further reading, encountered this little curve ball: https://blog.travis-ci.com/2020-11-02-travis-ci-new-billing
"For those of you who have been building on public repositories (on travis-ci.com, with no paid subscription), we will upgrade you to our trial (free) plan with a 10K credit allotment (which allows around 1000 minutes in a Linux environment)."

[2020-11-20 07:34] ilons commented on #137
Might be worth having a look at [Github Actions](https://docs.github.com/en/free-pro-team@latest/actions) as a replacement.
I think it's still worth migrating to travis-ci.com (and applying for more credits) as a first step tho.

[2020-11-21 01:38] mjuenema commented on #137
Bastards (excuse the Australian expression)!!! It appears that the new owners want to kill Travis-CI. Let's investigate alternatives, e.g.

* Github
* CircleCI
* Gitlab
* others?

We could use the free trial Travis-CI minutes in the meantime, so not to interrupt any work towards the 0.9 release.

[2020-11-21 06:47] ilons commented on #137
I think using the free credits on travis-ci.com is a good start, while looking for alternatives.
Having to apply for new credits continously is hardly an appealing option.

[2020-11-21 23:35] mjuenema commented on #137
I started investigating Github Actions. See the ``.github/workflows`` folder in the **github_actions** branch and **Actions** in the menu at the top.

[2020-11-24 07:16] #127 closed

[2020-11-24 07:17] ilons commented on #107
Included in https://github.com/mjuenema/python-terrascript/releases/tag/0.9.0

[2020-11-24 07:17] #107 closed

[2020-11-24 14:15] bkranendonk commented on #99
Thanks for sorting this out!

[2020-11-24 14:15] #99 closed

[2020-12-04 15:53] jbscare opened #138 "Add support for `required_providers`"
Terraform added the `required_providers` block a while ago, and as of Terraform 0.14, it gives a warning at plan time if you don't have one. It'd be great if Terrascript supported this! See https://www.terraform.io/docs/configuration/provider-requirements.html#requiring-providers for details.

[2021-01-01 20:52] pathcl opened #141 "create multiple resources"
Hey there! thanks for making this project open source.

Im trying to create 2 resources out of the same provider however:

[code]
Is there an example I can imitate? I couldn't find anything

[2021-01-01 21:05] pathcl commented on #141
I think I figured it out. Now I'd only need multiple providers maybe.
[code]

[2021-01-01 22:20] #141 closed

[2021-01-05 10:22] robinbowes commented on #138
Came here to ask if this is supported and, if not, if it could be added!

Need to add the equivalent to this HCL:

[code]

[2021-01-22 14:50] ilons commented on #138
As of today, this is easy to add to ones generated configuration like this:
[code]

[2021-01-22 15:19] jbscare commented on #138
I agree that automatically adding providers to required_providers would be hard -- we're planning to *use* Terrascript to write code that does that, and we'll require versions in our configs, but I don't think Terrascript itself should be enforcing that.

I hadn't put together that you could do it like in your example, but looking at our code now, I see that this is how we do backends too, so the

[2021-01-25 07:26] ilons commented on #138
@jbscare I realized there is some limitations for the `terraform` property (namely, you can not update it by providing it multiple times). I prepared a fix for that: https://github.com/mjuenema/python-terrascript/pull/142 which I intent do get into develop ASAP.

[2021-02-06 18:53] alby97 opened #145 "Add ESXI Provider"
Hi, I think that this project is very interesting and I want to use it but I'm currently using this provider (https://github.com/josenk/terraform-provider-esxi) that unfortunately is not included in your project, so I will ask if you can add this provider to this tool, I think that it would be very helpful, also because the esxi provider is a very good tool. Thanks in advance for the attention.

[2021-02-18 19:48] ilons commented on #145
@alby97 I did add some feedback to the PR https://github.com/mjuenema/python-terrascript/pull/144 , would you mind giving it a try to generate the providers and update the PR?

[2021-02-18 20:27] alby97 commented on #145
Hi, sorry, my reply could be a little silly but could you explain what you mean with generate the providers? Sorry again for this reply, probably is my fault that I didn't understand what you mean. However thanks for the reply.

[2021-02-18 21:11] ilons commented on #145
Ahh, no worries!
So basically, terrascript generates bindings for providers, which are included in the lib.
They are generated by running the script I linked in the PR.

[2021-02-18 22:19] alby97 commented on #145
I cloned the project from the develop branch, installed the required packages, tried to add the provider in the yaml file and run the script but at the end it gives me this error:
`Traceback (most recent call last):
  File "C:\Users\alby9\Desktop\Prova Terrascript\python-terrascript\tools\makecode.py", line 362, in <module>
    main()
  File "C:\Users\alby9\Desktop\Prova Terrascript\python-terrasc

[2021-02-19 08:22] ilons commented on #145
@alby97 Thank you for giving it a try, I think this might not have been tested on Windows before. I'll try to have a look at this during the day, or as soon as possible.

[2021-02-19 09:04] alby97 commented on #145
@ilons It's a pleasure. I tried also on Ubuntu but the error is basically the same, it didn't found the file "provider.go". I gave a quick look to the code but I didn't understand what could be the problem, maybe the provider misses something that the script needs to generate the files but the structure of the provider seems very similar to the others that are already in the yaml file. When I have

[2021-02-19 09:28] ilons commented on #145
@alby97 Yes, you are probably correct that the provider is structured differently (than what the script expects). As mentioned earlier, that script really do need to get an overhaul (together with how we generate the bindings), as it make a lot of assumptions right now.

[2021-02-19 10:01] mjuenema commented on #145
The underlying problem is that the "parser" is using regular expressions for extracting the information from the Terraform Go source code. It would be much nicer to either (a) have a proper Go language parser, or (b) use a Go pretty-printer to convert the Terraform source code (the module's source cod to be precise) into a standardised format. I did some research on option (a) but it's just too di

[2021-02-19 17:20] starhawking opened #147 "Hashicorp providers appear to have moved to a different repo breaking codegen"
It appears that several hashicorp maintained providers have moved from https://github.com/terraform-providers into https://github.com/hashicorp .

This breaks the codegen for adding new providers, and the `makecode.py` script does not currently provide useful information when it fails to pull these repos.

I added some temporary logging to demonstrate the situation:
[code]

[2021-02-19 17:37] starhawking commented on #147
It looks like github is doing a redirect for several of these repos, however the `provider.go` is at a different path for the ones that are falling through. For example, instead of being in the root of the repo, the tls provider has it at `internal/provider/provider.go`

[2021-02-19 18:29] mjuenema commented on #147
Hi @starhawking, thanks for reporting this. The logic in ``makecode.py`` really needs a lot of work. Have a look at #issue145 for another problem with ``makecode.py``. I hope to find some time this weekend to look into these problems.

[2021-02-19 20:04] starhawking commented on #147
#issue145 for another problem with `makecode.py`. I hope to find some time this weekend to look into these problems.

Thanks for the super quick response!

I was starting to put together a PR for this if you'd like it. I found a lot of places where things had moved in the repos, and the clone depth of 0 was no longer catching the `provider.go` file, and some had moved the `provider.go` to another

[2021-02-19 20:16] mjuenema commented on #145
FYI: I started a separate discussion (#149) on the issue of making ``makecode.py`` more robust.

[2021-02-19 20:16] mjuenema commented on #147
FYI: I started a separate discussion (#149) on the issue of making ``makecode.py`` more robust.

[2021-02-19 21:34] ilons commented on #147
I think some of the issues with moved directories (and moved providers.go) should be solved by https://github.com/mjuenema/python-terrascript/pull/150 (which I made while @mjuenema was investigating better alternatives)

[2021-02-19 22:09] mjuenema commented on #147
@starhawking Feel free to add your name to ``CONTRIBUTORS.md`` and create a Pull Request for it. You deserve it.

[2021-02-19 22:30] ilons commented on #147
Also, if you pull develop now, you'll be able to run `make providers` and it would actually handle some (all) of those cases, but the increased logging would be good non-the-less.

[2021-02-22 15:52] AmrMKayid commented on #108
@ilons have you worked on this on the 0.9 version? if not how can I help and contribute to this issue?

[2021-02-22 19:15] mjuenema commented on #108
Hi @AmrMKayid, have a look at discussion #149 which is about re-writing the mechanism how provider bindings are generated. In summary, instead of parsing the Go source code, ``makecode.py`` now queries the Terraform Provider Registry. I am in the process of implementing this so it should be in *develop* soon and make it into release *0.9.1*

[2021-03-01 04:26] jackluo923 opened #154 "Added null_resource Resource"
Pull request: https://github.com/mjuenema/python-terrascript/pull/153
- Added [null_resource resource](https://registry.terraform.io/providers/hashicorp/null/latest/docs/resources/resource) updated documents according to the contributing guidelines.
- I did not include a test for such simple change. If a test is needed, let me know and I will create one.

[2021-03-08 15:38] ilons commented on #154
Thank you for the contribution, I just merged this.

[2021-03-08 15:38] #154 closed

[2021-03-09 08:08] #147 closed

[2021-03-09 08:22] #145 closed

[2021-03-20 03:35] nielsonsantana commented on #109
I had the same problem, testing `terrascript - 0.9.0` with `terraform - 0.13.6`.
Here my case.

[code]
In the output, the reference to a atribute of a resource or data, also must have a `${ }`, not just variables.
The output `private_key_pem_without_brackets` prints it's literal value and `private_key_pem_with_brackets` prints the private_key.
I think that at the moment, the terrascript version 0.

[2021-03-26 10:57] maorfr opened #160 "Request to create a new release"
Hello!

We are long time customers and looking forward to see a new release!
We have recently upgraded from 0.7.0 to 0.9.0 along with a terraform 0.11 -> 0.13 migration. It went super well thanks to the usage of terrascript! Kudos for all the hard work!

We are especially interested in this commit: https://github.com/mjuenema/python-terrascript/commit/11685492baf21a0fb6719ff0c75988c1b24af6bf
It ad

[2021-03-26 11:07] mjuenema commented on #160
Thanks for the kind words.

There is some work in progress (whenever I kind find spare time, which is very difficult) on automatically supporting (almost) all providers that are available from the [Terraform Provider Registry](https://registry.terraform.io/browse/providers).

There is an on-going discussion (#149) about this. Also check the *feature/makecode-and-terraform-registry* branch for curr

[2021-04-04 08:08] maorfr commented on #160
fwiw, this is how we are currently working around the missing resource: https://github.com/app-sre/qontract-reconcile/pull/1466/commits/0aadd9c9e32e30b8719ffc47816771a48066c5ed

[2021-04-04 10:04] mjuenema commented on #160
Thanks. As you figured out, adding a provider/resource/datasource is as simple as subclassing the equivalent **Terrascript** class.

I am progressing nicely on rewriting ``tools/makecode.py`` which is responsible for creating the Python code for the various **Terraform** providers. Once finished, ``aws_ecrpublic_repository`` will be available through **Terrascript**.

[2021-05-23 03:19] mjuenema opened #161 "Re-write examples as Jupyter Notebooks"
Re-write any examples as Jupyter Notebooks because they are better for documenting the examples and there's a plugin for ``nosetests`` so the examples can be covered by automated tests.

[2021-05-23 03:23] mjuenema commented on #138
The solution @ilons suggested above will be documented in release 0.10.0.

[2021-09-03 16:19] starhawking commented on #94
Hi there,

I noticed this issue has been open for a while. Would you like any assistance in writing it? I think I've got a pretty solid grasp of the internals, so I might be able to take a crack at it if you'd like.

[2021-09-05 05:15] mjuenema commented on #94
Hi @starhawking. The answer is a clear yes, the only caveat being that at the moment the project is in the "middle of some major changes" to accommodate Terraform 0.13. That's the theory anyway. In practice, over the last few months I hadn't had any time whatsoever to work on this project. Only last week I had a look at the multiple Git branches on my computer I had left untouched since May. I am

[2021-09-07 15:46] jbscare commented on #94
FWIW, we're using Terrascript successfully with Terraform 1.0. :^ )

[2021-09-07 19:28] mjuenema commented on #94
Hi @jbscare that's great to hear. How do you accommodate the introduction of namespaces in Terraform 0.13 ?

[2021-09-08 00:11] starhawking commented on #94
Which namespaces are you referring to? For the required_providers section, we just moved to assembling that in one go. That was the only real change I remember needing to do when we moved to Terraform 1.0.

[2021-09-14 22:00] bkez322 opened #165 "add support for hashicorp/time provider"
Hello. Thanks for the work done maintaining this project.

I've encountered a use-case where having python-terrascript support the hashicorp/time provider would be useful to me.

https://registry.terraform.io/providers/hashicorp/time/latest
https://github.com/hashicorp/terraform-provider-time

I could make an attempt at a PR for this.

[2021-09-16 20:05] #165 closed

[2021-09-24 18:32] mjuenema opened #168 "All dot-files not explicitly included are now ignored by default"
@ilons (I think!) had added this previously but I accidentally overwrote the ``.gitignore`` file deleting his changes. This issue is a reminder to re-add the relevant lines.